/*
    To change this license header, choose License Headers in Project Properties.
    To change this template file, choose Tools | Templates
    and open the template in the editor.
*/
/* 
    Created on : 2015-10-05, 16:37:44
    Author     : Tumi
*/
/*
    To change this license header, choose License Headers in Project Properties.
    To change this template file, choose Tools | Templates
    and open the template in the editor.
*/
/* 
    Created on : 2015-10-05, 17:15:37
    Author     : Tumi
*/
/* line 11, ../sass/_base.scss */
html, body {
  font-family: 'OpenSans-Regular';
  font-size: 100%;
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url(../fonts/OpenSans-Regular.ttf) format("truetype");
}
@font-face {
  font-family: 'Dorsa-Regular';
  src: url(../fonts/Dorsa-Regular.ttf) format("truetype");
}
@media (max-width: 480px) {
  /* line 16, ../sass/style.scss */
  body {
    color: #fff;
  }

  /* line 20, ../sass/style.scss */
  .banner {
    background-image: url("/projektlayout/images/banner.jpg");
    background-position: 40% 10%;
    background-size: cover;
  }
}
/* line 30, ../sass/style.scss */
footer > div {
  color: #fff;
  background-color: #292929;
}

/* line 35, ../sass/style.scss */
.footer-wrapper div > h2 {
  font-family: 'Dorsa-Regular';
}

/* line 38, ../sass/style.scss */
.subscribe h2 {
  font-size: 3.5em;
  font-stretch: expanded;
}

/* line 42, ../sass/style.scss */
.contact span {
  display: block;
}

/* line 45, ../sass/style.scss */
.contact h2 {
  font-size: 3.5em;
}

/* line 49, ../sass/style.scss */
.contact ul li {
  padding: 10px 0;
}

/* line 52, ../sass/style.scss */
.btn-default {
  background-color: #FFCC33;
  border: 0;
}

/* line 57, ../sass/style.scss */
.form-control {
  background-color: #292929;
  border: 0;
  border-bottom: 1px solid #ccc;
}
/* line 61, ../sass/style.scss */
.form-control:focus {
  border-color: #292929;
}

/* line 66, ../sass/style.scss */
.enlarge {
  font-size: 5em;
}

/* line 70, ../sass/style.scss */
.info p {
  padding: 10px 15px;
}

/* line 74, ../sass/style.scss */
.author-panel {
  background-color: #4d4d4d;
  text-align: center;
}
/* line 77, ../sass/style.scss */
.author-panel p {
  margin: 0;
  padding-bottom: 15px;
  padding-top: 15px;
  font-size: 0.9em;
}
