/*
    To change this license header, choose License Headers in Project Properties.
    To change this template file, choose Tools | Templates
    and open the template in the editor.
*/
/* 
    Created on : 2015-10-05, 17:15:37
    Author     : Tumi
*/

html, body{
    font-family: 'OpenSans-Regular';
    font-size: 100%;
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url(../fonts/OpenSans-Regular.ttf)format('truetype');
}

@font-face {
    font-family: 'Dorsa-Regular';
    src: url(../fonts/Dorsa-Regular.ttf)format('truetype');
}