/*
    To change this license header, choose License Headers in Project Properties.
    To change this template file, choose Tools | Templates
    and open the template in the editor.
*/
/* 
    Created on : 2015-10-05, 16:37:44
    Author     : Tumi
*/
@import 'base';

//HEADER//

@media (max-width: 480px) {

	body{ 
		
	}

	.banner {
            background-image: url("/projektlayout/images/banner.jpg");
            background-repeat: no-repeat;
            background-size: cover;
    }

    .logo a{
        color: #fff;
        font-family: Dorsa-Regular;
        text-decoration: none;
        font-size: 4em;
    }

    .social {
    
    }

    .menu 
        ul{
            font-family: Dorsa-Regular;
            font-size: 1.5em;
            color: #fff;
            text-decoration: none;
            background-color: black;
        }

        li{ 
            display:inline;
        }

    }

@media (min-width: 481px) {
    
    body{ 
        
    }

    .banner {
        background-image: url("/projektlayout/images/banner.jpg"); 
        background-repeat: no-repeat;
        background-size: cover;
    }

    .logo a{
        color: #fff;
        font-family: Dorsa-Regular;
        text-decoration: none;
        font-size: 4em;
    }

    .social {
    
    }

    .menu { 
        ul{
            font-family: Dorsa-Regular;
            font-size: 1.5em;
            color: #fff;
            text-decoration: none;
            background-color: black;
        }

        li{ 
            display:inline;
        }

    }
}


//END HEADER//
 
//FOOTER
footer > div {
    color: #fff;
    background-color: #292929;
}

.footer-wrapper div > h2 {
    font-family: 'Dorsa-Regular';  
}
.subscribe h2 {
    font-size: 3.5em;
    font-stretch: expanded;
}
.contact span{
    display: block;
}
.contact h2 {
    font-size: 3.5em;
}

.contact ul li {
    padding: 10px 0;
}
.btn-default{
    background-color: #FFCC33;
    border: 0;
}

.form-control{
    background-color: #292929;
    border: 0;
    border-bottom: 1px solid #ccc;
        &:focus{
            border-color: #292929;
        }
}

.enlarge {
    font-size: 5em;
}

.info p {
    padding: 10px 15px;
}

.author-panel {
    background-color: #4d4d4d;
    text-align: center;
        p{
            margin: 0;
            padding-bottom: 15px;
            padding-top: 15px;
            font-size: 0.9em; 
        }
}

//END FOOTER

